body {
	background-color: black;
}
h1 {
	text-align: center;
	color: yellow;
	margin-bottom: 50px;
    font-size: 100px;
    padding-top: -0.2em;
    font-family:'Tangerine', serif;
}
.nav {
	position:absolute;
	top:0;
	right:0;
	color:white;
	width:100%;
}
.nav ul {
	padding-left:0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	width:100%;
	line-height:2em;
	background-color:rgba(0,0,0,0.3);
	padding-right:1em;
	font-size:1em;
	text-align:right;
}
.nav li {
	display: inline-block;
}
.nav a {
	color:white;
	text-decoration:none;
	padding:0 .5em;
}
.nav a:hover {
	background-color:black;
	cursor:pointer;
}

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70%;
}

.carousel-deck {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.slide {
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: bottom;
}

.slide-desc {
	height: inherit;
	background-color: black;
	color: white;
	padding: 10px;

	opacity: 0;
}

.slide-desc:hover {
 	opacity: .6;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.slide1 {
	background-image:url(../images/lib1.jpg);
}

.slide2 {
	background-image:url(../images/lib4.jpg);
}

.slide3 {
	background-image:url(../images/fs1.jpg);
}

.slide4 {
	background-image:url(../images/fs4.jpg);
}
.carousel-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;


	opacity:0;
	-webkit-transition:all .3s;
	transition:all .3s;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}

.carousel-slide img {
	max-height:100%;
	max-width: 100%;
}

.carousel-slide.active {
	opacity:1;
	transform:translateX(0);
}

.carousel-slide.hide-right {
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}

.carousel-moveleft,
.carousel-moveright {
	position: absolute;
	bottom: 10px;
	height: 2em;
	width: 2em;
	background-color: yellow;
	border-radius: 50%;
	text-align: center;
	line-height: 2em;
}
.carousel-moveleft {
	left: 10px;
}
.carousel-moveright {
	right: 10px;
}
.carousel-moveleft:hover,
.carousel-moveright:hover {
	cursor:pointer;
	background-color:white;
}