body {
	background-color: black;
}
h1 {
	text-align: center;
	color: yellow;
	margin-bottom: 50px;
    font-size: 100px;
    padding-top: 0.5em;
    font-family:'Tangerine', serif;
}
.nav {
	position:absolute;
	top:0;
	right:0;
	color:white;
	width:100%;
}
.nav ul {
	padding-left:0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	width:100%;
	line-height:2em;
	background-color:rgba(0,0,0,0.3);
	padding-right:1em;
	font-size:1em;
	text-align:right;
}
.nav li {
	display: inline-block;
}
.nav a {
	color:white;
	text-decoration:none;
	padding:0 .5em;
}
.nav a:hover {
	background-color:black;
	cursor:pointer;
}

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 77%;
	margin-bottom: 20px;
}

.carousel-deck {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.slide {
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}

.slide-desc {
	height: inherit;
	background-color: black;
	color: white;
	padding: 10px;

	opacity: 0;
}

.slide-desc:hover {
 	opacity: .6;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.slide1 {
	background-image:url(../images/ys1.jpg);
}

.slide2 {
	background-image:url(../images/ws1.jpg);
}

.slide3 {
	background-image:url(../images/bc1.jpg);
}

.slide4 {
	background-image:url(../images/ys2.jpg);
}

.slide5 {
	background-image:url(../images/ws2.jpg);
}
.slide6 {
	background-image:url(../images/bc2.jpg);
}

.carousel-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;


	opacity:0;
	-webkit-transition:all .3s;
	transition:all .3s;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}

.carousel-slide img {
	max-height:100%;
	max-width: 100%;
}

.carousel-slide.active {
	opacity:1;
	transform:translateX(0);
}

.carousel-slide.hide-right {
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}

.carousel-moveleft,
.carousel-moveright {
	position: absolute;
	bottom: 10px;
	height: 2em;
	width: 2em;
	background-color: yellow;
	border-radius: 50%;
	text-align: center;
	line-height: 2em;
}
.carousel-moveleft {
	left: 10px;
}
.carousel-moveright {
	right: 10px;
}
.carousel-moveleft:hover,
.carousel-moveright:hover {
	cursor:pointer;
	background-color:white;
}
.tab {
	background: grey;
    padding: 6px;
    display: inline;
    border: dotted;
    border-width: 1px 1px 0 1px;
    color: black;
}
.tab:hover {
	cursor:pointer;
	background: lightyellow;
}
.tab.active {
	background: yellow;
}

.content-list {
	background: grey;
	margin-top: 5px;
	padding: 10px;
    border: solid;
    border-width: 1px 1px 1px 1px;
}

.content {
	display: none;
}
.content.active {
	display: block;
}

.ys-container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.ys-row:after {
	content: '';
	clear: both;
	display:table;
}

.ys-half {
	width: 50%;
	float: left;
}
iframe.map {
	width: 100%;
	height: 50vh;
}
.ys-half-text {
	padding-top: 13em;
	padding-left: 2em;
}

h2 {
	color: yellow;
}
.big-image-y img {
	max-width: 100%;
	height: 600px;
}

.small-images-y img {
	width: 150px;
	height: 100px;
}
.big-image-s img {
	max-width: 100%;
	height:500px;
}

.small-images-s img {
	width: 200px;
	height: 100px;
}

.ws-container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.ws-row:after {
	content: '';
	clear: both;
	display:table;
}

.ws-half {
	width: 50%;
	float: left;
}

.ws-half-text {
	padding-top: 2em;
	padding-left: 2em;
}
.image-ws img {
	max-width: 600px;
	max-height: 400px;
}