* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.newin {
    margin: 10px 80px;
}
.newin-img {
	margin: 10px;
	border: 1px solid #ffd11a;
    border-radius: 10px;
}
.newin-img:hover {
	border: 10px dotted #ffd633;
}
.newin-img img {
	width: 100%;
	height: auto;
    border-radius: 10px 10px 0 0;
}
.desc {
	padding: 3px 10px;
	text-align: center;
    color: #ff9900;
    font-size: 1.25em;
}
.responsive {
	padding:0 5px;
	float: left;
	width: 24.99999%;
}
@media only screen and (max-width: 850px){
    .responsive {
        width: 49.99999%;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.favor {
    text-align: center;
}
.hidden {
    display: none;
}

.fav-check+label {
    margin: 0 3px;
    font-size: 1em;
    color: #ff99bb;
}
.fav-check:checked+label {
    color: red;
}